.button {
  background-color: #cccccc;
  border: 2px solid #cccccc;
  border-radius: 10px;
  color: #3378ac;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  height: 26px;
  margin: 2px;
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
}

.not_stacked {
  margin: 2px;
}
.button:hover {
  background-color: #fff;
  border-radius: 10px;
  color: #c00;
  -webkit-appearance: none;
}
.checkbox {
  border: 1px solid #000;
  font-size: 14px;
  padding: 2px;
  text-align: left;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}
.div--center {
  text-align: center;
}
.footer--center {
  bottom: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
}
.input {
  border: 1px solid #000;
  font-size: 14px;
  padding: 2px;
  width: 150px;
}
.input:focus {
  background-color: #ccf;
}
.input:hover {
  background-color: #eee;
}
.input:not(:focus) {
  text-align: center;
}
